*{
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin: 10px; */
}
h1{
    font-size: 2.5em;
    color: rgb(141, 22, 22);
    align-items: center;
    text-align: center;
    margin-bottom: 5em;
    background-color: rgb(44, 44, 44);
    padding: 15px;
}
h2{
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    margin: 25px 0;
}
h3{
    font-size: 1.5em;
    margin: 20px 0;
    background-color: rgb(226, 226, 226) ;
    border: 7px ridge goldenrod;
    padding: 10px;
}
h2,
h1,
h3,
h4{
    color: rgb(141, 22, 22);
    font-weight: bold;
}
ul{
    list-style: none;}
/********************** header **********************/

header{
    /* flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly; */
    text-align: justify;
}
.Definition{
    color: rgb(11, 172, 11);
}
.partie{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid black;
}
.partie br,
.partie li,
.partie p{
    margin-left: 20px;
}

.exemple{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}